.nav-module {
  display: flex;
  flex-direction: column;
  width: 50px;
  min-width: 50px;
  max-width: 50px;
  height: 100%;
  background: #020202;
  border: none;
  border-radius: 20px;
  overflow: hidden;
}

.nav-children {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  height: 100%;
  padding: 6px;
  overflow-y: auto;
}

.nav-child-slot {
  width: 100%;
  height: 200px;
  min-height: 200px;
}

.nav-child-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
