.conversation-top-user-card {
  width: 100%;
  height: 80px;
  background: #020202;
  border-radius: 20px;
  border: none;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 12px;
}

.conversation-top-user-card.is-clickable {
  cursor: pointer;
}

.conversation-top-user-card.is-clickable:hover {
  background: #0a0a0a;
}
