.chat-module-layout {
  width: 100%;
  height: 100%;
  min-width: 400px;
  background: var(--bg-module);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chat-module-layout.compact {
  min-width: 0;
}

.chat-module-layout-body {
  height: 100%;
  flex: 1;
  min-height: 0;
  background: var(--bg-module);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
