.module-header {

}

.module-header-top-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.module-header-stories-row {
  margin-top: 12px;
  display: flex;
  gap: 12px;
  overflow-x: auto;
  padding-bottom: 6px;
  scrollbar-width: none;
}

.module-header-stories-row::-webkit-scrollbar {
  display: none;
}
