.avatar-circle {
  width: 60px;
  height: 60px;
  border-radius: 999px;
  background: #000000;
  overflow: hidden;
  flex: 0 0 auto;
}

.avatar-circle-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
