.chat-list-item {
  width: 100%;
  height: 80px;
  background: #020202;
  border: 1px solid var(--border-subtle);
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 10px 12px;
  gap: 12px;
  cursor: pointer;
  transition: 0.15s ease;
}

.chat-list-item:hover {
  background: #0a0a0a;
}

.chat-list-item:active {
  background: #111111;
}
